{% extends 'layout.html' %}

{% block title %}
{{config['CHAT_NAME']}}
{% endblock %}

{% block main %}
{% for room in rooms %}
<div class="box" style="width:260px; float:left" id="room-{{room.id}}">
    <div class="header">
        {% if session.user == room.creator %}
            <p class="close"> x </p>
        {% endif %}
        <a href="/chat/{{room.id}}">{{room.title}}</a><span>({{room.users|count}}人在线)</span>
    </div>
    <div class="body">
        <ul class="chat_line">
            {% for content in room.content %}
            <li title="{{content.user}} {{content.created}}">{{content.content}}</li>
            {% endfor %}
        </ul>
        <!--<input type="TEXT" name="content" class="single_input" />-->
    </div>
</div>
{% endfor %}

    <div id="add_room_wrapper">
        <div class="chat-bubble" style="display:none">
            <form action="/chat" method="POST">
                <input type="TEXT" name="title" style="width:187px" placeholder="聊天室名称,回车提交" />
            </form>
            <div class="chat-bubble-arrow-border"></div>
            <div class="chat-bubble-arrow"></div>
        </div>

        <div class="add_room"> + </div>
    </div>
{% endblock %}

{% block script %}
<script> uri = '{{uri}}'; </script>
<script src="/static/script/main.js"></script>
<script> create_chat_comet(); </script>
{% endblock %}
